Repository serenvdmerwe/lsx-demo-theme, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, theme, pattern, template, css, js, php, configuration, test, copilot, vscode, woocommerce

Register 'shoes' custom post type and associated taxonomies (brand, size, type)
  functions.php
Labels: theme, php

feat: foundation complete
  assets/css/cross-device-testing.css
  assets/css/luxury-product-filter.css
  assets/css/performance-optimization.css
  assets/js/luxury-product-filter.js
  functions.php
  inc/luxury-product-filter-handler.php
  inc/luxury-sample-products.php
  inc/system-validator.php
  llm.md
  patterns/accessibility-test-component.php
  patterns/boot-fact-box.php
  patterns/boot-gallery.php
  patterns/feature-highlights.php
  patterns/product-filter-bar.php
  patterns/related-products.php
  patterns/system-testing-dashboard.php
  templates/archive-product.html
  templates/front-page.html
  templates/single-product.html
Labels: documentation, theme, pattern, template, css, js, php

feat: changed cpt from product to designer boot
  LUXURY-BOOTS-UPDATES.md
  assets/css/designer-boots.css
  functions.php
  inc/designer-boot-meta-boxes.php
  inc/designer-boot-taxonomies.php
  inc/designer-boot-template-helpers.php
  inc/luxury-sample-products.php
  parts/boot-fact-box.html
  parts/boot-gallery.html
  parts/boot-hero.html
  templates/archive-designer_boot.html
  templates/single-designer_boot.html
Labels: documentation, theme, template, css, php

ecom layout added
  FIXES_APPLIED.md
  LAYOUT_REDESIGN_V2.md
  assets/css/designer-boots-ecommerce.css
  assets/css/designer-boots.css
  functions.php
  inc/designer-boot-template-helpers.php
  templates/single-designer_boot.html
Labels: documentation, theme, template, css, php

nav: updated
  parts/header.html
  patterns/about-brand-story.php
  patterns/about-core-values.php
  patterns/main-navigation.php
  templates/page-about.html
  templates/page-contact.html
Labels: pattern, template, php

nav: updated2
  functions.php
Labels: theme, php

nav: updated3
  functions.php
  patterns/luxury-homepage.php
Labels: theme, pattern, php

nav: menu update
  functions.php
  parts/footer-static.html
  style.css
  theme.json
Labels: theme, template, css, php, configuration

Chore: blog page
  patterns/hidden-blog-heading.php
  patterns/template-query-loop.php
Labels: pattern, php

Revise daily standup and task log for week 9, day 1
  logs/week9/logs-week9-day1.md
Labels: documentation

Revise daily standup format and content
  logs/week8/logs-week8-day5.md
Labels: documentation

Revise daily standup log for week 8 day 4
  logs/week8/logs-week8-day4.md
Labels: documentation

Update daily standup log with new metrics and tasks
  logs/week8/logs-week8-day2.md
Labels: documentation

Revise daily standup format and content
  logs/week8/logs-week8-day1.md
Labels: documentation

Update daily log template for week 8
  logs/week8/logs-week8-day3.md
Labels: documentation

Clean up daily standup notes
  logs/week8/logs-week8-day3.md
Labels: documentation

Update logs-week9-day1.md
  logs/week9/logs-week9-day1.md
Labels: documentation

.github/labeler.yml:

---
# Add 'documentation' label to any changes to markdown or text files
documentation:
    - '**/*.md'
    - '**/*.txt'
    - 'docs/**/*'

# Add 'theme' label to any change to theme files
theme:
    - 'style.css'
    - 'theme.json'
    - 'functions.php'
    - 'assets/**/*'

# Add 'pattern' label to any change within the patterns directory
pattern:
    - 'patterns/**/*'

# Add 'template' label to any change within the templates directory
template:
    - 'templates/**/*'
    - 'parts/**/*'

# Add 'css' label to any change to CSS files
css:
    - '**/*.css'
    - '**/*.scss'

# Add 'js' label to any change to JS files
js:
    - '**/*.js'

# Add 'php' label to any change to PHP files
php:
    - '**/*.php'

# Add 'configuration' label to any change to configuration files
configuration:
    - '.github/**/*.yml'
    - '.github/workflows/**/*'
    - '.vscode/**/*'
    - '*.json'
    - '.editorconfig'
    - '.gitignore'
    - 'package.json'
    - 'composer.json'
    - 'playwright.config.*'
    - 'postcss.config.js'

# Add 'test' label to any change to test files
test:
    - 'tests/**/*'
    - 'e2e/**/*'
    - 'playwright.config.*'
    - '.github/linters/phpunit.xml'

# Add 'copilot' label to any change to AI/Copilot assets
copilot:
    - '.github/agents/**/*'
    - '.github/chatmodes/**/*'
    - '.github/instructions/**/*'
    - '.github/prompts/**/*'
    - '.vscode/agent.json'
    - '.vscode/configuration.md'

# Add 'vscode' label to any change to VS Code configuration
vscode:
    - '.vscode/**/*'

# Add 'woocommerce' to any change to WooCommerce templates/styles/functions
woocommerce:
    - 'woocommerce/**/*'
    - '**/woocommerce*.css'
    - '**/woocommerce*.php'
